
<form action="{{root}}/{{view.slug}}" method="post" accept-charset="utf-8" class="panel panel-default x-filter {{^have}}x-hidden{{/have}} {{^collapsed}}x-collapsed{{/collapsed}}">
    {{#have}}
    <div class="panel-heading">
        <h3 class="panel-title">{{string.filter}}</h3>
        <div class="checkbox">
            <label><input type="checkbox" name="or" {{#or}}checked="checked"{{/or}} /> {{string.or}}</label>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped form-horizontal">
            <tbody>
                {{#filter}}
                <tr>
                    <td>
                        <div class="form-group">
                            {{#row}}
                                {{>column}}
                            {{/row}}
                        </div>
                    </td>
                </tr>
                {{/filter}}
            </tbody>
        </table>
    </div>
    {{/have}}
    <div class="panel-footer form-horizontal">
		{{#searchEnabled}}
			<div class="form-group">
				<label class="control-label col-lg-4 col-md-4 col-sm-4" for="searchText">{{string.search}}</label>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<input type="text" name="searchText" id="searchText" value="{{searchText}}" class="form-control" />
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
				</div>
			</div>
		{{/searchEnabled}}
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4">{{string.order}}</label>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <select name="order" class="chosen-select form-control" data-placeholder="{{string.select}}">
                    <option value="" {{#selected}}selected="selected"{{/selected}}></option>
                    {{#order}}
                    <option value="{{name}}" {{#selected}}selected="selected"{{/selected}}>{{verbose}}</option>
                    {{/order}}
                </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{#direction}}
                <label class="radio-inline">
                    <input type="radio" name="direction" value="{{value}}" {{#selected}}checked="checked"{{/selected}} /> {{text}}
                </label>
                {{/direction}}
            </div>
        </div>
		<div class="form-group">
			<div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-8 col-lg-offset-4">
				<button type="submit" class="btn btn-default form-control" name="action[filter]">{{string.filter}}</button>
				<button type="submit" class="btn btn-default form-control" name="action[clear]">{{string.clear}}</button>
			</div>
		</div>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}" />
</form>
